<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <table>
                <thead>
                    <th>uno</th>
                    <th>dos</th>
                    <th>tres</th>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>



    <h1>Hola mundo</h1>
    <h1>{{ titulo }}</h1>

    {% for usuario in lista %}
        <p> {{ usuario }} </p>
    {% endfor %}
</body>
</html>