{% extends "layout.html" %}

{% block content %}

<form action="/operaBas" method="post">

    <div class="mb-3">

        <label for="n1" class="form-label">Numero: 1</label>
        <input type="text" class="form-control" id="n1" name="n1">

    </div>
    <div class="mb-3">

        <label for="n2" class="form-label">Numero: 2</label>
        <input type="text" class="form-control" id="n2" name="n2">

    </div>

    <label>Selecciona la operación:</label>

    <div>
        <input type="radio" name="operacion" id="suma" value="suma">
        <label for="suma">Suma</label>
    </div>

    <div>
        <input type="radio" name="operacion" id="resta" value="resta">
        <label for="resta">Resta</label>
    </div>

    <div>
        <input type="radio" name="operacion" id="multiplicacion" value="multiplicacion">
        <label for="multiplicacion">Multiplicación</label>
    </div>

    <div>
        <input type="radio" name="operacion" id="division" value="division">
        <label for="division">División</label>
    </div>


    <button type="submit" class="btn btn-primary">Calcular</button>

    <h1>
        La suma de {{n1}} + {{n2}} = {{"%.2f" |format(res)}}
    </h1>
</form>

{% endblock %}